* {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#wrapper {
	width: 65%;
	margin: auto;
	background: grey;
	border: 6px double black;
	padding: 0;
}

body {
	background: url(img/bg.gif);
	margin: 0;
}

.header {
	margin: 0;
	display: flex;
	padding: 15px;
	background: url(img/bg_stars.gif);
	justify-content: space-between;
	box-shadow: 0px 5px 16px 4px rgba(0,0,0,0.84);

}

.header h1{
	width: 30%;
	margin: 0;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 40px;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #A7DD3C;
	text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77,0,38,0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77,0,13,0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77,25,0,0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77,66,0,0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64,77,0,0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38,77,0,0.5);
	font-weight: 700;
	font-style: italic;
	font-variant: normal;
	text-transform: uppercase;
}

.header h2{
	width: 30%;
	margin: 0;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: white;
}

.zvezda {
	width: 15%;
	height: 100px;
	background: url(img/zvezd.gif);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.container {
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

.nav {
	width: 20%;
	background: darkgray;
	border-right:5px groove #5B5B5B;
	border-offset: 0px;
	margin-bottom: 0;
}

.nav ul {

}

.nav li {

}

.main {
	width: 80%;
	padding: 15px;
	background: grey;
	margin-bottom: 0;
}

.footer {
	margin: 0;
	width: 100%;
	background: #000;
	display: flex;
	color: #fff;
}

.contacts {
	width: 30%;
	padding: 15px;
}

.form {
	width: 40%;
}

.contact-form input{
	margin: auto;
	width: 80%;
}

.contact-form textarea{
	margin: auto;
	width: 80%;
}

.ads {
	width: 30%;
	display: flex;
	justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
}

.ad {
	margin-left: 5px;
	width: 88px;
	height: 31px;
}

.ad1 {
	background: url(img/sanehtml.gif);
	background-repeat: none;
}

.ad2 {
	background: url(img/opera.gif);
	background-repeat: none;
}

.ad3 {
	background: url(img/textpad.gif);
	background-repeat: none;
}
